body, ul, li {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #F3F4F6;
}
/* ヘッダー */
.header {
    max-width: 300px;
    margin: 0 auto;
    padding: 10px 10px;
    box-sizing: border-box;
}
.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__nav li {
    margin-right: 30px;
}
.header__nav li:last-child {
    margin-right: 0;
}
.header__nav li a {
    font-size: 12px;
    transition: opacity .3s; 
}
.header__nav li a:hover {
    transition: opacity .3s; 
    opacity: .5;
}